@import "~bootstrap/dist/css/bootstrap.min.css";

#alertError {
  display: none;
}

#cardMsg,
#cvcMsg,
#amountMsg,
#firstNameMsg,
#lastNameMsg,
#zipMsg,
#cityMsg,
#textMsg {
  display: none;
  font-weight: 600;
  color: #9b2731;
}
